@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*Cores*/
    --fundo-1:#201b2c;
    --fundo-2:#2f2841;
    --fundo-3:#514869;
    --fonte:#77ffc0;
    --fonte-2:#00ff88;
    --fonte-3:#f0ffffde;
    --fonte-4:#2b134b;
    --sombra:#00000056;
    --sombra-2:#00ff8052;
    --placeholder:#f0ffff94;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-image{
    width: 35vw;

}

.left-login h2{
    color: var(--fonte);
    font-size: 3vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: var(--fundo-2);
    border-radius: 20px;
    box-shadow: 0px 10px 40px var(--sombra);
}

.card-login h1{
    color: var(--fonte-2);
    font-weight: 800;
}

.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

fieldset{
    border: none;
}

.text-field input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--fundo-3);
    color: var(--fonte-3);
    font-size: 12pt;
    box-shadow: 0px 10px 40px var(--sombra);
    outline: none;
    box-sizing: border-box;
}

.text-field label{
    color: var(--fonte-3);
    margin-bottom: 10px;
}

.text-field input::placeholder{
    color: var(--placeholder);
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--fonte-4);
    background-color: var(--fonte-2);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px var(--sombra-2);
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;

    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login h2{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }
}